<?xml version="1.0"?>
<launch>

    <!-- Hardware interface and diff_drive_controller -->
    <include file="$(find hibachi_bringup)/launch/bringup-base.launch" />
    
    <!-- Load Madwick and IMU-->
    <include file="$(find hibachi_imu)/launch/madgwick.launch">
        <arg name="use_mag" value="false"/>
    </include>

    <!-- IMU -->
    <!-- <include file="$(find hibachi_bringup)/launch/bringup-phidgets-spatial.launch" /> -->
    <include file="$(find xsens_bringup)/launch/xsens_mti_node.launch" />

    <!-- RPLidar A1 -->
    <!-- <include file="$(find rplidar_ros)/launch/rplidar.launch" /> -->

</launch>
