<?xml version="1.0"?>
<launch>
    <arg name="base_serial_port" default="/dev/ttyBPILL" />

    <!-- Load hardware interface -->
    <include file="$(find hibachi_base)/launch/base.launch">
        <arg name="port" value="$(arg base_serial_port)" />
    </include>

    <!-- Load controller -->
    <include file="$(find hibachi_control)/launch/control.launch" />

    <!-- Diff drive limiter -->
    <node name="hibachi_diff_drive" pkg="hibachi_diff_drive" type="hibachi_diff_drive_node" output="log">
        <param name="control_frequency" value="10.0" />
        <param name="wheel_radius" value="0.06"/>
        <param name="wheel_separation" value="0.34"/>
        <param name="v_body_max" value="0.80"/> <!-- 0.72 -->
        <param name="w_body_max" value="4.50"/> <!-- 4.0 -->
        <param name="w_left_max" value="14"/> <!-- 12.0 -->
        <param name="w_right_max" value="14"/> <!-- 12.0 -->
        <remap from="/hibachi_diff_drive/cmd_vel_in" to="/cmd_vel" />
        <remap from="/hibachi_diff_drive/cmd_vel_out" to="/hibachi_velocity_controller/cmd_vel" />
    </node>
</launch>