<?xml version="1.0"?>
<launch>
  <include file="$(find hibachi_bringup)/launch/bringup-phidgets-spatial.launch" />

  <include file="$(find hibachi_description)/launch/test-description.launch" />
  <!-- Sample launch file, transforms NED referenced data in imu_link_ned to ENU equivalent data in imu_link -->

  <!-- Static tfs -->
  <node pkg="tf" type="static_transform_publisher" name="tf_imu_enu_ned"
        args="0 0 0 1.5708 0 3.1416 phidgets_imu_link phidgets_imu_enu_link 500" output="screen"/>
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_imu_ned_enu"
        args="0 0 0 1.5708 0 3.1416 phidgets_imu_link phidgets_imu_enu_link 10" output="screen"/> -->
      
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_imu"
        args="0 0 0 0 0 0 base_link phidgets_imu_enu_link 10" output="screen"/> -->


  <!-- Transforms NED IMU data pulished in frame imu_link_ned on topics /imu/data_ned and /imu/mag_ned to
   ENU data in frame imu_link published on /imu/data_enu and /imu/mag_enu -->
  <node pkg="imu_transformer" type="imu_transformer_node" name="imu_data_transformer" output="screen">
    <remap from="imu_in" to="phidgets_373223/imu"/>
    <remap from="imu_out" to="phidgets_373223/imu_enu"/>
    <param name="target_frame" value="phidgets_imu_enu_link"/>
  </node>

  <!-- Filter raw gyro, accel and mag data into a usable orientation -->
  <node name="PhidgetsImuFilter_ENU" pkg="imu_filter_madgwick" type="imu_filter_node" >
    <rosparam>
      world_frame: enu
      fixed_frame: base_link
      orientation_stddev: 0.0
      gain: 0.1  # Defaults to 0.1
      zeta: 0.00048
      publish_tf: false
      use_mag: true
      publish_debug_topics: false
    </rosparam>

    <remap from="/imu/data_raw" to="phidgets_373223/imu_enu/data" />
    <remap from="/imu/mag" to="phidgets_373223/imu_enu/mag" />
    <remap from="/imu/data" to="phidgets_373223/imu_enu/madgwick" />
  </node>

</launch>

