<launch>
    <arg name="tcp_port" default="11411" />

    <!-- Agregar respawn="true"-->
    <node pkg="rosserial_python" type="serial_node.py" name="tcp_node"
        args="tcp $(arg tcp_port)" ns="joystick_a" output="screen">
        <rosparam>
            filter_rate: 50     # In Hz
            cmdvel_rate: 10     # In Hz
            
            fixed_link: 'world'
            joystick_link: 'imu_link'

            # First n samples to calc bias
            gyro_bias_samples: 100

            cmd_linvel_axis: 'pitch' 
            cmd_angvel_axis: 'roll'

            pitch_axis:
                deadzone: 15.0      # In degree
                max_angle: 30.0
                min_angle: -30.0
                cmd_absmax: 1.0     # m/s
                cmd_absmin: 0.25     # m/s
                
            roll_axis:
                deadzone: 20.0
                max_angle: 40.0
                min_angle: -40.0
                cmd_absmax: 2.0     # rad/s
                cmd_absmin: 0.0     # rad/s
        </rosparam>
        <remap from="cmd_vel" to="/cmd_vel" />
  </node>
</launch>