<?xml version="1.0"?>
<launch>
    <arg name="urdf_extras" default="$(optenv HIBACHI_URDF_EXTRAS)" />

    <!-- Load robot description -->
    <include file="$(find hibachi_description)/launch/description.launch">
        <arg name="urdf_extras" default="$(arg urdf_extras)" />
    </include>

    <!-- Load controller configuration -->
    <rosparam command="load" file="$(find hibachi_control)/config/control.yaml" />

    <!-- Spawn controllers -->
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="hibachi_state_publisher hibachi_velocity_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>