<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyACM0" />

    <node name="hibachi_base_node" pkg="hibachi_base" type="hibachi_base_node" output="log">
        <param name="serial_port" type="string" value="$(arg port)"/>
        
        <param name="control_frequency" value="25.0" />
        <param name="max_speed" value="0.5" />

        <!-- Si todos los 3 valores son 0, no setea ninguna de las ganancias -->
        <param name="PID_kP_gain" value="5.0"/>
        <param name="PID_kI_gain" value="0.01"/>
        <param name="PID_kD_gain" value="0.02"/>
    </node>
</launch>