<?xml version="1.0"?>
<launch>
  <!-- Wether to use magnetometer (outdoor) or not (indoor) -->
  <arg name="use_mag" default="true"/>

  <include file="$(find hibachi_imu)/launch/imu.launch" />
 
  <!-- <node name="imu_complementary_filter" pkg="imu_complementary_filter" type="complementary_filter_node" >
    <param name="use_mag" value="false" />
    <remap from="/imu/data_raw" to="/imu_lsm/data_raw" />
    <remap from="/imu/mag" to="/imu_lsm/mag" />
    <remap from="/imu/data" to="/imu/data_complementary_filter" />
  </node> -->
  
  <!-- Filter raw gyro, accel and mag data into a usable orientation -->
  <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <!-- <rosparam command="load" file="$(find navio2_ros)/config/imu_calibration.yaml" /> -->
    <rosparam command="load" file="$(find hibachi_imu)/config/madgwick.yaml" />
    <remap from="/imu/data_raw" to="/hibachi_imu_node/data_raw" />
    <!-- <remap from="/imu/data_raw" to="/imu_lsm/data_raw" /> -->
    <remap from="/imu/mag" to="/hibachi_imu_node/mag" />
    <remap from="/imu/data" to="/hibachi_imu_node/madgwick" />
    <!-- <param name="orientation_stddev" value="0.0" />
    <param name="gain" value="0.1" />
    <param name="zeta" value="0.001" />
    <param name="publish_tf" value="false" /> -->

    <param name="use_mag" value="$(arg use_mag)" />

    <param name="mag_bias_x" value="1.22031e-05" />
    <param name="mag_bias_y" value="-3.70974e-05" />
    <param name="mag_bias_z" value="-3.16885e-05" />

  </node>

</launch>
