<launch>

  <arg name="no_static_map" default="true"/>

   <!-- <master auto="start"/> -->
 <!-- Run the map server -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->

 <!--- Run AMCL -->
    <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find hibachi_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find hibachi_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find hibachi_navigation)/config/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find hibachi_navigation)/config/costmap_global_params.yaml" command="load" />
    <rosparam file="$(find hibachi_navigation)/config/base_local_planner_params.yaml" command="load" />

    <!-- static global costmap, static map provides size -->
<rosparam file="$(find hibachi_navigation)/config/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>

<!-- global costmap with laser, for odom_navigation_demo -->
<rosparam file="$(find hibachi_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
<param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
<param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
 </node>

</launch>
